.product-buy{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 35px;
    
}

.product-price {
    color: #407E52;
    font-family: Inter;
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    width: 160px;
}

.product-quantity {
    color: #061006;
    font-family: Inter;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}

.action-section{
    display: flex;
    align-items: center;
    height: 100%;
}

.action-btn {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background: #6ED976;
    border: none;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

    .action-btn img {
        width: 38px;
        height: 38px;
        padding: 0;
    }

    .action-btn.remove {
        background-color: #FF4550;
       
    }

.action-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


@media (max-width: 990px) {
    .product-buy {
        margin: 0;
        flex-direction: row;
        gap: 15px;
    }

    .product-price {
        width: fit-content;
        font-size: 16px;
    }
    .product-quantity {
        font-size: 16px;
    }

    .product-add-cart {
        width: 150px;
        height: 30px;
        border-radius: 20px;
        font-size: 16px;
        font-weight: 600;
    }
    .action-section {
        gap: 30px;
    }

    .action-btn {
        width: 32px;
        height: 32px;
        border-radius: 10px;
        margin: 0;
    }

        .action-btn img {
            width: 23px;
            height: 23px;
            padding: 0;
        }

    .action-btns {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}