.product-bg {
	display: flex;
	align-items: center;
	width: 1300px;
	height: 140px;
	border-radius: 20px;
	background-color: #FBFCFB;
	padding: 16px 20px 16px 20px;
	margin-bottom: 20px;
}

.product-image {
	width: 115px;
	height: 92px;
	border-radius: 20px;
	background: #93C6A3;
}

.product-details {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
}

.product-name {
	color: #061006;
	font-family: Inter;
	font-size: 22px;
	font-weight: 600;
	margin: 0px;
}

.product-description {
	color: #7F8D80;
	font-family: Inter;
	font-size: 17px;
	font-weight: 400;
	width: 900px;
	margin: 0px;
}

.product-buy {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 70px;
}

.product-price {
	color: #061006;
	font-family: Inter;
	font-size: 24px;
	font-weight: 600;
	margin: 0 0 0 0;
}

.product-quantity {
	color: #061006;
	font-family: Inter;
	font-size: 22px;
	font-weight: 600;
	margin: 0;
}