@using Microsoft.AspNetCore.Components.Forms
<div class="navbar-bg">
   
    <div class="content">
        <div class="auth">
            <h2>Authors:</h2>
            <div class="authors">
                <div>
                    <p>Damir Denis</p>
                    <p>Asmarandei Catalin</p>
                </div>
                <div>
                    <a href="https://github.com/DamirDenis-Tudor2">github.com/DamirDenis-Tudor</a> <br />
                    <a href="https://github.com/PurpleFishh">github.com/PurpleFishh</a>
                </div>
            </div>
        </div>
        <h2>&copy; 2024 BookShop.net</h2>
    </div>
</div>
