.main {
    display: flex;
    padding-top: 37px;
    width: 100%;
    height: 100%;
}

aside {
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.categories {
    width: 340px;
    height: auto;
    margin-top: 36px;
    padding: 25px 0 10px 37px;
    margin: 0 0 0 30px;
    border-radius: 20px;
    background: #FBFCFB;
}

.categories-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .categories-title a {
        color: #407E52;
        font-family: Inter;
        font-size: 25px;
        font-weight: 600;
        margin: 0;
        text-decoration: none;
    }


.categories-list a, li {
    color: #93C6A3;
    text-decoration: none;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    .selected{ color: #407E52; }
}

.products-view{
    margin-left: 40px;
    width: 100%;
    padding-right: 50px;
}

.filter {
    display: flex;
    align-items: center;

    padding-left: 33px;
    height: 60px;
    width: 100%;
    border-radius: 30px;
    background-color: #FBFCFB;
}

.filter p{
    margin: 0;
}

select.order-by {
    width: 180px;
    height: 40px;
    border-radius: 10px;
    outline-color: #93C6A3;
    outline-width: 2px;
    border: 2px solid #407E52;
    margin-right: 47px;
}

label.order-by {
    margin-right:13px;
    color: #061006;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
}

::deep input.price-range {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #93C6A3;
    outline-color: #407E52;
    outline-width: 2px;
}

label.price-range {
    margin: 0 13px 0 13px;
    color: #061006;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
}

.products{
    display: flex;
    flex-direction: column;
    margin-top: 28px;
}

.toggle-btn {
    display: none;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: #407E52;
}

@media (max-width: 1024px) {
    aside {
        width: 300px;
    }

    .categories {
        width: 250px;
    }
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }

    aside {
        width: 100%;
        margin: 0;
    }
    .categories {
        margin-top: 10px;
        width: 80%;
        padding: 10px 10px 0 20px;
    }

    .categories.show .categories-list {
        display: block;
    }

    .categories-title a {
        font-size: 20px;
    }

    .categories-list a, .categories-list li {
        font-size: 16px;
    }
    .categories-title p{
        margin-bottom: 5px;
    }

    .products-view {
        width: 100%;
        margin-left: 0;
        padding-right: 0;
    }

    .filter {
        margin-top: 15px;
        padding: 10px 0 0 20px;
        height: fit-content;
    }

    select.order-by,
    ::deep input.price-range {
        width: 90px;
        height: 35px;
        margin-bottom: 10px;
        font-size: 14px;
    }

    label.order-by,
    label.price-range {
        font-size: 16px;
        text-align: center;
        margin: 0 10px 10px 0;
    }
}

@media (max-width: 480px) {
    aside {
        padding: 0 10px 0 10px;
    }
    .categories {
        margin: 0;
        width: 100%;
        padding: 5px 10px 0 20px;
    }

    .categories-title a {
        font-size: 18px;
    }

    .categories-list a, li {
        font-size: 16px;
    }

    .products-view {
        padding: 0 10px;
    }

    .categories-list {
        display: none;
        transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    }
    .toggle-btn {
        display: block;
    }
    .categories.show .categories-list {
        max-height: 1000px; /* A value large enough to accommodate the content */
    }

    .filter {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        margin-top: 8px;
    }
    label.order-by,
    label.price-range {
        font-size: 16px;
        text-align: center;
    }
    select.order-by,
    ::deep input.price-range {
        width: 90px;
        height: 33px;
        margin-bottom: 10px;
        font-size: 14px;
    }
}