@using Microsoft.AspNetCore.Components.Forms
<div class="login-area">
    <h2>Salut!</h2>
    <EditForm Model="User" OnValidSubmit="LoginSubmit">
        <DataAnnotationsValidator />
        <div class="validation">
            <p>@_loggingError</p>
            <p class="success">@_loggingSuccess</p>
            <ValidationSummary />
        </div>
        <div class="login-form">
            <InputText class="login-input email" @bind-Value="User.Username" placeholder="Username..."></InputText>
            <InputText class="login-input parola" @bind-Value="User.Password" type="password" placeholder="Parola..."></InputText>
        </div>
        <div class="login-action-area">
            <button type="submit" class="login-btn">Login</button>
            @if(AuthentificationEnabled)
            {
                <span>Nu ai cont? Te poti autentifica <a href="/register">aici</a>!</span>
            }
        </div>
    </EditForm>
</div>