@page "/account"
@using Persistence.DTO.Order
@using Persistence.DTO.Product

<PageTitle>Account Dashboard</PageTitle>

<NavMenu />

<div class="content">
	<main>
		<div class="title">
			<h2>Salut, George Popescu!</h2>
		</div>
		@foreach (var order in Orders)
		{
			<div class="order">
				<div class="order-header">
					<p>Comanda #@order.SessionCode</p>
					<p>Status: @order.Status</p>
				</div>
				
				<div class="products-area">
					@foreach (var prod in order.OrderProducts)
					{
						<ProductViewOrder Product="@prod" />
					}
				</div>
			</div>
		}

	</main>
</div>

@code {
	private List<OrderSessionDto> Orders = new List<OrderSessionDto>
	{
		new OrderSessionDto{ Username="geopop45", SessionCode="454324", Status="Finalizata", TotalPrice=4235.12m, 
			OrderProducts=new List<OrderProductDto>
			{
				new OrderProductDto{ProductName="NATURES PROTECTION DOG ADULT LAMB, 4 KG", Price=242, Quantity=25, SessionCode="454324"},
				new OrderProductDto{ProductName="Key", Price=546.67m, Quantity=25, SessionCode="454324"}
			}
		},
		new OrderSessionDto{ Username="geopop45", SessionCode="53422324", Status="In tranzit", TotalPrice=2335.34m, 
			OrderProducts=new List<OrderProductDto>
			{
				new OrderProductDto{ProductName="NATURES PROTECTION DOG ADULT LAMB, 4 KG", Price=124, Quantity=53, SessionCode="454324"},
				new OrderProductDto{ProductName="Tricolori", Price=125.67m, Quantity=54, SessionCode="454324"},
				new OrderProductDto{ProductName="Tricolori", Price=1.3m, Quantity=2, SessionCode="454324"},
				new OrderProductDto{ProductName="Sosete", Price=54.1m, Quantity=222, SessionCode="454324"},
				new OrderProductDto{ProductName="Key", Price=546.67m, Quantity=25, SessionCode="454324"},
			}
		}
	};

	private List<ProductDto> Products = new List<ProductDto>
	{
	  new ProductDto{ Category="Haine", Name="NATURES PROTECTION DOG ADULT LAMB, 4 KG", Price=242, Quantity=25, Photo=null},
	  new ProductDto{ Category="Droguri", Name="Key", Price=546.67m, Quantity=25, Photo=null},
	  new ProductDto{ Category="Injectabile", Name="Cherosen", Price=23, Quantity=6543, Photo= null},
	  new ProductDto{ Category="Sclavi", Name="Tricolori", Price=1.3m, Quantity=2, Photo=null},
	  new ProductDto{ Category="Haine", Name="Sosete", Price=54.1m, Quantity=2322, Photo=null},
	};


}