@page "/register"

<div class="content">
	<h1 class="logo">PetShop</h1>
	<div class="register-area">
		<h2>Salut!</h2>
		<EditForm Model="user" OnSubmit="register">
			<div class="register-form">
				<div class="small">
					<InputText class="register-input" @bind-Value="user.FirstName" placeholder="Nume..."></InputText>
					<InputText class="register-input" @bind-Value="user.LastName" placeholder="Prenume..."></InputText>
				</div>
				<InputText class="register-input" @bind-Value="user.Username" placeholder="Username..."></InputText>
				<InputText class="register-input" @bind-Value="user.Email" placeholder="Adresa de email..."></InputText>
				<InputText class="register-input" @bind-Value="user.Password" placeholder="Parola..."></InputText>
			</div>
			<div class="register-action-area">
				<button type="submit" class="register-btn">Register</button>
				<span>Nu ai cont? Te poti autentifica <a href="/register">aici</a>!</span>
			</div>
		</EditForm>
		
	</div>
	<h1 class="logo" style="opacity: 0;">PetShop</h1>
</div>


@code {
	public class UserInfoDto
	{
		public string FirstName { get; set; }
		public string LastName { get; set; }
		public string Username { get; set; }
		public string Password { get; set; }
		public string Email { get; set; }
		public string UserType { get; set; }
	}

	UserInfoDto user { get; set; } = new UserInfoDto();

	void register()
	{
		
	}
}
