.user-bg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;/*width: 1380px;*/
    height: 100px;
    border-radius: 20px;
    background-color: #FAF6FE;
    padding: 14px 20px 10px 15px;
}

.side-bar {
    width: 5px;
    height: 60px;
    border-radius: 10px;
    background: #249689;
}

.user-content{
    display: flex;
    align-items: center;
}

.user-details {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.user-name {
    color: #4F464C;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
}

.user-username {
    color: #7018C9;
    font-family: Inter;
    font-size: 22px;
    font-weight: 600;
    margin: 0px;
}

.user-email {
    color: #1F0519;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
}


.user-delete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    width: fit-content;
}

.delete-btn {
    width: 40px;
    height: 50px;
    background-color: #FF5963;
    border-radius: 10px;
    border: none;

    padding: 0;
    align-content: center;
}

.delete-btn img{
    width: 38px;
    height: 38px;
}