@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage ProtectedLocalStore
@inject NavigationManager NavigationManager


@if (_isAuthenticated == null)
{
    <div class="page">
        <LoadingPage />
    </div>
}
else if (_isAuthenticated == true && NavigationManager.ToBaseRelativePath(NavigationManager.Uri) == "login")
{
    NavigationManager.NavigateTo("/");
}
else if (NavigationManager.ToBaseRelativePath(NavigationManager.Uri) == "register" || _isAuthenticated == true || NavigationManager.ToBaseRelativePath(NavigationManager.Uri) == "login")
{
    @inherits LayoutComponentBase
    
    <div class="page">
        <main>
            <article>
                @Body
            </article>
        </main>
    </div>
}
else
{
    NavigationManager.NavigateTo("/login");
}