.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #EEF6EE;
    min-height: 100vh;
}

main {
    flex: 1;
}
article {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

::deep button:hover {
    filter: brightness(108%);
}
::deep button:active {
    filter: brightness(85%);
}