@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

<div class="navbar-bg">
    <div class="logo-search">
        <a href="/" class="logo">Petshop</a>
        <div class="search-section">
            <InputText class="search-bar" placeholder="Incepe o cautare..." @bind-Value="@Serach"> </InputText>
        </div>
    </div>
    <div class="auth-area">
        @if(_loggedIn)
        {
           <a href="/account" class="account"><img src="Images/account_icon.png" alt="Account" />Contul meu</a>
           <button class="logout-btn" onclick="@Logout"> <img src="Images/logout_icon.png" alt="Logout" /></button>
            <a href="/viewcart"><button class="cart-btn"> <img src="Images/cart_icon.png" alt="View Cart" /></button></a>
        }
        else{
            <a href="/login" class="button button-login">Login</a>
            <a href="/register" class="button button-register">Register</a>
        }
    </div>

</div>
