.navbar-bg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #FBFCFB;
    border-radius: 0px 0px 40px 40px;
}

.logo {
    color: #FF4550;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 30px;
    text-decoration: none;
    margin-right: 70px;
}

.logo-search {
    display: flex;
}

::deep .search-bar {
    width: 1080px;
    height: 50px;
    border-radius: 30px;
    border: 3px solid #93C6A3;
    padding-left: 27px;
    background-image: url('../wwwroot/Images/search_icon.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

    ::deep .search-bar:focus {
        outline: none !important;
        border: 3px solid #407E52;
    }

.button {
    border-radius: 20px;
    color: #FBFCFB;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
}

.auth-area {
    display: flex;
    align-items: center;
}

.button-login {
    margin: 0 50px 0 19px;
    width: 162px;
    height: 50px;
    background-color: #6ED976;
}

.logout-btn {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background: #6ED976;
    border: none;
    margin-right: 50px;
}

.add-product-btn {
    margin-right: 40px;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background: #407E52;
    border: none;
}

.auth-area img {
    width: 38px;
    height: 38px;
}

.account {
    margin-right: 30px;
    color: #7F8D80;
    font-family: Inter;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
}