.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 100%;
    width: 100%;
    padding: 25px 80px 0 30px;
}

/*main{
    display: flex;
    flex-direction: column;
}*/

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    border-radius: 20px;
    background: #FBFCFB;
    padding: 0px 30px 0px 30px;
    margin-bottom: 30px;
}

    .title h2 {
        margin-bottom: 0;
        color: #061006;
        font-family: Inter;
        font-size: 25px;
        font-weight: 600;
    }
    .title a {
        text-decoration: none;
        margin: 8px 0 8px 0;
    }

.order {
    padding: 20px 40px 20px 30px;
    width: 100%;
    border-radius: 20px;
    background-color: #FBFCFB;
    margin-bottom: 30px;
}

.order-header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    color: #061006;
    font-family: Inter;
    font-size: 22px;
    font-weight: 600;
}

.products-area {
    display: flex;
    flex-direction: column;
    padding: 25px 50px 0 20px;

    width: 100%;
    border-radius: 20px;
    background: #EEF6EE;
}

.update-btn {
    height: 48px;
    border-radius: 20px;
    background: #407E52;
    color: #FBFCFB;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 0 30px 0 30px;
}
