@page "/account"

<PageTitle>Account Dashboard</PageTitle>

<NavMenu />

<div class="content">
	<main>
		<div class="title">
			<h2>Welcome, @_name!</h2>
			<a href="/update-info"><button class="update-btn">Modifica detalii cont</button></a>
		</div>
		@if(_orders.Any())
		{
			@foreach (var order in _orders)
			{
				<div class="order">
					<div class="order-header">
						<p>Order #@order.SessionCode</p>
						<p>Status: @order.Status</p>
					</div>
				
					<div class="products-area">
						@foreach (var prod in order.OrderProducts)
						{
							<ProductViewOrder Product="@prod" />
						}
					</div>
				</div>
			}
		}else
		{ 
			<div class="order">
				<div class="order-header"> <p></p> </div>
				<div class="products-area">
					@for(var i = 0; i< 5; ++i)
					{
						<ProductDummy/>
					}
				</div>
			</div>
		}

	</main>
</div>