@page "/bill"

<div class="content">
	<h1 class="logo">BookShop.net</h1>
	<div class="register-area">
		<h2>Personal details:</h2>
		
		<EditForm Model="@_bill" OnSubmit="PlaceOrder">
			<DataAnnotationsValidator/>

			<div class="register-form">
				
				<div class="input">
					<lable for="register-username">Telephone number:</lable>
					<InputText class="register-input" @bind-Value="_bill.Telephone" placeholder="+40782524751"></InputText>
				</div>
				
				<div class="input">
					<lable for="register-username">Country:</lable>
					<InputText class="register-input" @bind-Value="_bill.Country" placeholder="Romania"></InputText>
				</div>
				
				<div class="input">
					<lable for="register-username">Region:</lable>
					<InputText id="register-username" class="register-input" @bind-Value="_bill.City" placeholder="Bucuresti"></InputText>
				</div>
				
				<div class="input">
					<lable for="register-username">Address:</lable>
					<InputText class="register-input" @bind-Value="_bill.Address" placeholder="Sector 3, Stefan cel Mare, bloc 23, et 6"></InputText>
				</div>
				
				<div class="input">
					<lable for="register-username">Postal code:</lable>
					<InputText class="register-input" @bind-Value="_bill.PostalCode" placeholder="645386"></InputText>
				</div>

			</div>
			
			<div class="register-action-area">
				<p>Total: 342.99 Lei</p>
				<button class="register-btn">Place order</button>
			</div>
			
		</EditForm> 
		
	</div>
</div>