.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
}

.logo {
    color: #061006;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.register-area {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 465px;
    /*height: 100%;*/
    border-radius: 30px;
    background: #FBFCFB;
    margin: 35px 0 100px 0;
}

    .register-area h2 {
        color: #061006;
        font-family: Inter;
        font-size: 30px;
        font-weight: 500;
        margin: 25px 0 50px 0;
    }