@page "/register"
@using Business.BAL

<div class="content">
	<h1 class="logo">BookShop.net</h1>
	<div class="register-area">
		<h2>Welcome, please register:</h2>
		<RegisterComponent LoginMode=LoginMode.Client />
	</div>
</div>