@page "/viewcart"

<PageTitle>View Cart</PageTitle>

<NavMenu />

<div class="content">
	<main>
		<div class="title">
			<h2>My cart:</h2>
		</div>
		@if (!_isDataLoaded)
		{
			@for (var i = 0; i < 5; ++i)
			{
				<ProductDummy />
			}

		}
		else
		{
			@foreach (var prod in Products)
			{
				<ProductCart Product="@prod" RefreshView="@RefreshView"/>
			}
		}

	</main>
	<aside>
		<div>
			<h2>Order checkout:</h2>
			<p>Total price: @ProductsTotalPrice Lei</p>
			<p>Transport price: @_deliveryFee Lei</p>
		</div>
		<div>
			<h2>
				Total:<br />@TotalPrice Lei
			</h2>
			@if (!_cartEmpty)
			{
				<a href="/bill"><button>Continua</button></a>
			}else
			{
				<button class="btn-diabled">Continua</button>
			}
		</div>
	</aside>
</div>