@page "/home"
@using Persistence.DTO.Product

<PageTitle>Home</PageTitle>

<NavMenu />

<div class="main">
    <aside>
        <div class="action-bar">
            <a href="/"><button type="submit" class="button">Distribuitor nou</button></a>
            <a href="/users"><button type="submit" class="button">Utilizatori</button></a>
        </div>

	    <div class="categories">
		    <p class="categories-title">Categorii</p>
            <ul class="categories-list">
                @foreach (var category in Categories)
                {
                    <li><a href="@($"/category/{category.Name}")">@category.Name</a></li>
                }
            </ul>
	    </div>
    </aside>
    <div class="products-view">
        <div class="filter">
            <label class="order-by" for="order-by-select"> Order by:</label>
            <select class="order-by" name="order-by-select">
                <option class="order-by"   value="name">Name</option>
                <option class="order-by" value="price">Price</option>
            </select>
            <label class="price-range" for="low-price-range">Price range:</label>
            <input class="price-range" type="number" name="low-price-range" value="" />
            <label class="price-range" for="low-price-range"> - </label>
            <input class="price-range" type="number" name="height-price-range" value="" />
        </div>
        <div class="products">
            @foreach (var product in Products)
            {
                <ProductView Product=@product/>
            }
        </div>
    </div>
</div>

@code{
    public class ProductCategory{
        public string Name { get; set; }
    }

    private List<ProductCategory> Categories = new List<ProductCategory>
    {
        new ProductCategory{ Name = "Jucarii"},
        new ProductCategory{ Name = "Haine"},
        new ProductCategory{ Name = "Mancare"},
        new ProductCategory{ Name = "Custi"},
    };

    private List<ProductDto> Products = new List<ProductDto>
    {
      new ProductDto{ Category="Haine",Description = "", Name="Tricou", Price=242, Quantity=25, Link= ""}, 
      new ProductDto{ Category="Jucarii",Description = "", Name="Lesa", Price=546.67m, Quantity=25, Link= ""},
      new ProductDto{ Category="Injectabile",Description = "", Name="Granule", Price=23, Quantity=6543, Link= ""},
      new ProductDto{ Category="Jucarii",Description = "", Name="Nisip pentru pisici", Price=1.3m, Quantity=2, Link= ""},
      new ProductDto{ Category="Custi",Description = "", Name="Cusca caine", Price=54.1m, Quantity=2322, Link= ""},

    };
}
