@using Persistence.DTO.Order

<div class="product-buy">
	<p class="product-price">@Product.Price Lei</p>
	<p class="product-quantity">Quantity: @Product.OrderQuantity</p>
</div>

@code {
	[Parameter] public OrderProductDto Product { get; set; } = null!;
}
