@using Persistence.DTO.Product

<div class="product-buy">
	<p class="product-price">@Product.Price Lei</p>
	@if(Product.Quantity > 0)
	{
		<button class="product-add-cart" @onclick="@AddToCart">Add to cart</button>
	}
	else
	{
		<div class="product-add-cart disabled"><p>Out of Stock</p></div>
	}
	
</div>
