<div class="product-buy">
    <p class="product-price">@Product.Product.Price Lei</p>
        
    <div class="quintity-section">
        <button class="product-quantity-modify" @onclick="DecreaseQuantity">-</button>
        <p class="product-quantity">@Product.OrderQuantity</p>
        <button class="product-quantity-modify" @onclick="IncreaseQuantity">+</button>
    </div>
</div>