@using Persistence.DTO.Order

<div class="product-bg">
	@if (Product != null)
	{
		<img src="@Product.Link" alt=""/>

		<div class="product-details">
			<p class="product-name">@Product.ProductName</p>
			<p class="product-description">
				Natures Protection Dog Adult Lamb, 4 kg este o hrana uscata Super Premium cu carne de miel pentru caini, completa si echilibrata, cu surse de proteine si ingrediente de cea mai buna calitate.
				Compozitia acestei hrane uscate pentru caini este imbogatita cu ingrediente care sunt perfecte pentru a furniza
			</p>
		</div>
		<div class="product-buy">
			<p class="product-price">@Product.Price Lei</p>
			<p class="product-quantity">Cantitate: @Product.OrderQuantity</p>
		</div>
	}
</div>

@code {
	[Parameter]
	public OrderProductDto Product { get; set; }
	public int Quantity = 32;
}
