.product-buy {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 200px;
	margin-left: 35px;
}

.product-price {
	color: #061006;
	font-family: Inter;
	font-size: 24px;
	font-weight: 600;
	margin: 0 0 0 0;
}

.product-quantity {
	color: #061006;
	font-family: Inter;
	font-size: 22px;
	font-weight: 600;
	margin: 0;
}