@using Persistence.DTO.Product

<div class="product-bg">
    @if (Product == null) return;

    <img class="product-image" src="/Images/search_icon.png" alt=""/>
    <div class="product-details">
        <p class="product-name">@Product.Name</p>
        <p class="product-description">@Product.Description</p>
    </div>
    <div class="product-buy">
        <p class="product-price">@Product.Price Lei</p>
        <div class="quintity-section">
            <button class="product-quantity-modify" @onclick="DecreaseQuantity">-</button>
            <p class="product-quantity">@_quantity</p>
            <button class="product-quantity-modify" @onclick="IncreaseQuantity">+</button>
        </div>
    </div>

</div>

@code {
    [Parameter] public ProductDto? Product { get; set; }

    private int _quantity = 32;

    private void IncreaseQuantity()
    {
        _quantity += 1;
    }

    private void DecreaseQuantity()
    {
        _quantity -= 1;
    }

}