@using Persistence.DTO.Order

<div class="product-bg">

    <div class="product-image"></div>

    <div class="product-details">
        <p class="product-name">@Product.ProductName</p>
        <p class="product-description">@Product.Description</p>
    </div>

    <div class="product-buy">
        <p class="product-price">@Product.Price Lei</p>
        <p class="product-quantity">Cantitate: @Product.OrderQuantity</p>
    </div>

</div>

@code {
    [Parameter] public OrderProductDto Product { get; set; } = null!;
}