.product-bg {
	display: flex;
	align-items: center;
	width: 1300px;
	height: 140px;
	border-radius: 20px;
	background-color: #FAF6FE;
	padding: 16px 20px 16px 20px;
	margin-bottom: 20px;
}

.product-image {
	/*width: 115px;*/
	height: 115px;
	border-radius: 20px;
	background: #BAB3F2;
}

.product-details {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	width: 100%;
}

.product-name {
	color: #1F0519;
	font-family: Inter;
	font-size: 22px;
	font-weight: 600;
	margin: 0px;
}

.product-description {
	color: #4F464C;
	font-family: Inter;
	font-size: 17px;
	font-weight: 400;
	width: 900px;
	margin: 0px;
}

.product-buy {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 70px;
}

.product-price {
	color: #1F0519;
	font-family: Inter;
	font-size: 24px;
	font-weight: 600;
	margin: 0 0 0 0;
}

.product-quantity {
	color: #1F0519;
	font-family: Inter;
	font-size: 22px;
	font-weight: 600;
	margin: 0;
}