.product-buy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    width: fit-content;
}

.product-price {
    color: #407E52;
    font-family: Inter;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    width: 250px;
    white-space: nowrap;
}

.label {
    color: #061006;
}

.product-quantity {
    color: #061006;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    width: 250px;
    white-space: nowrap;
}


@media (max-width: 990px) {
    .product-buy {
        margin: 0;
        flex-direction: row;
        gap: 15px;
    }

    .product-price {
        width: fit-content;
        font-size: 16px;
    }

    .product-quantity {
        font-size: 16px;
        width: fit-content
    }

}