@using Persistence.DTO.User

<div class="user-bg">
		<div class="user-content">
			<div class="side-bar"></div>
			<div class="user-details">
				<div class="user-text"></div>
				<div class="user-text"></div>
				<div class="user-text"></div>
			</div>
		</div>
		<div class="user-delete">
			<div class="delete-btn"></div>
		</div>
</div>