@page "/add"

<div class="content">
	<h1 class="logo">BookShop.net</h1>
	
	<div class="register-area">
		
		<h2>Product details:</h2>

		<EditForm Model="@_product" OnSubmit="PlaceOrder">
			<DataAnnotationsValidator/>
			<ValidationSummary/>
			
			<div class="register-form">
				
				<div class="input">
					<lable for="register-username">Product name:</lable>
					<InputText class="register-input" @bind-Value="_product.Name" placeholder="Cartea Junglei"></InputText>
				</div>

				<div class="small">

					<div class="input">
						<lable for="register-username">Price:</lable>
						<InputNumber class="register-input" @bind-Value="_product.Price" placeholder="12.99"></InputNumber>
					</div>

					<div class="input">
						<lable for="register-username">Quantity:</lable>
						<InputNumber id="register-username" class="register-input" @bind-Value="_product.Quantity" placeholder="23"></InputNumber>
					</div>

				</div>

				<div class="input">
					<lable for="register-username">Product description:</lable>
					<InputTextArea class="register-input" @bind-Value="_product.Description" placeholder="Mowgli este un pui de om crescut de lupi în inima junglei..."></InputTextArea>
				</div>

				<div class="input">
					<lable for="register-username">Product category:</lable>
					<InputText class="register-input" @bind-Value="_product.Category" placeholder="Carti pentru copii"></InputText>
				</div>

				<div class="input">
					<lable for="register-username">Cdn link:</lable>
					<InputText class="register-input" @bind-Value="_product.Photo" placeholder="https://img.com/caine"></InputText>
				</div>

			</div>
			
			<div class="register-action-area">
				<button type="submit" class="register-btn">Add product</button>
			</div>
			
		</EditForm>

	</div>
</div>
