@page "/add"
@using System.ComponentModel.DataAnnotations

<div class="content">
	<h1 class="logo">BookShop.net</h1>
	<div class="register-area">
		<h2>Detalii produs:</h2>
		<EditForm Model="@product" OnSubmit="PlaceOrder">
			<DataAnnotationsValidator/>
			<ValidationSummary />
			<div class="register-form">
				<div class="input">
					<lable for="register-username">Nume produs:</lable>
					<InputText class="register-input" @bind-Value="product.Name" placeholder="Cartea Junglei"></InputText>
				</div>
				<div class="small">
					<div class="input">
						<lable for="register-username">Pret:</lable>
						<InputNumber class="register-input" @bind-Value="product.Price" placeholder="12.99"></InputNumber>
					</div>
					<div class="input">
						<lable for="register-username">Cantitae:</lable>
						<InputNumber id="register-username" class="register-input" @bind-Value="product.Quantity" placeholder="23"></InputNumber>
					</div>
				</div>
				<div class="input">
					<lable for="register-username">Descriere produs:</lable>
					<InputTextArea class="register-input" @bind-Value="product.Description" placeholder="Mowgli este un pui de om crescut de lupi în inima junglei..."></InputTextArea>
				</div>
				<div class="input">
					<lable for="register-username">Categorie produs:</lable>
					<InputText class="register-input" @bind-Value="product.Category" placeholder="Carti pentru copii"></InputText>
				</div>
				<div class="input">
					<lable for="register-username">Poza produs:</lable>
					@* <InputFile class="custom-file-input" @bind-Value="product.Photo"></InputFile> *@
					<InputText class="register-input" @bind-Value="product.Photo" placeholder="https://img.com/caine"></InputText>
				</div>

			</div>
			<div class="register-action-area">
				<button type="submit" class="register-btn">Adauga produs</button>
			</div>
		</EditForm>

	</div>
</div>
