@page "/home"

<PageTitle>Home</PageTitle>

<NavMenu ShowAddProduct=true/>

<div class="main">
    <HomeComponent PathBase="/home">
        <ChildContent Context="product">
            <ProductView Product="@product" />
        </ChildContent>
    </HomeComponent>
</div>