.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 0;
}

.logo {
	color: #061006;
	font-family: Inter;
	font-size: 40px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

@media (max-width: 768px) {

	.logo {
		font-size: 34px;
	}
}
