@page "/update-product"

<div class="content">
	<h1 class="logo">BookShop.net</h1>
	
	<div class="register-area">
		
		<h2>Product details:</h2>

		<EditForm Model="@_modifyProduct" OnSubmit="Submit">
			
			<DataAnnotationsValidator/>
			<ValidationSummary/>

			<div class="register-form">

				<div class="small">

					<div class="input">
						<lable for="register-username">Price:</lable>
						<InputNumber class="register-input" @bind-Value="_modifyProduct.Price" placeholder="42.12"></InputNumber>
					</div>

					<div class="input">
						<lable for="register-username">Quantity:</lable>
						<InputNumber id="register-username" class="register-input" @bind-Value="_modifyProduct.Quantity" placeholder="23"></InputNumber>
					</div>

				</div>

			</div>

			<div class="register-action-area">
				<button type="submit" class="register-btn">Update product</button>
			</div>

		</EditForm>

	</div>
	
</div>
