.action-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px 0 15px 0;
    margin-top: 36px;
    margin: 0 0 0 30px;
    border-radius: 20px;
    background: #FBFCFB;
}

.button {
    padding: 0 30px 0 30px;
    height: 45px;
    border-radius: 20px;
    background: #407E52;
    color: #FBFCFB;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

@media (max-width: 768px) {
    .action-bar {
        flex-direction: row;
        margin-top: 10px;
        width: 80%;
        padding: 10px 10px 10px 20px;
    }


        .action-bar a {
            font-size: 20px;
        }
    .button {
        padding: 0 30px 0 30px;
        height: 40px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .action-bar {
        margin: 0;
        width: 100%;
        padding: 5px 10px 5px 20px;
    }

        .action-bar a {
            font-size: 18px;
        }
    .button {
        padding: 0 30px 0 30px;
        height: 30px;
        font-size: 14px;
    }
}
