@page "/home"

<PageTitle>Home</PageTitle>

<NavMenu />

<HomeComponent PathBase="/home">
    <DashboardActionBar>
        <div class="action-bar">
            <a href="/register"><button type="submit" class="button">Add Provider</button></a>
            <a href="/users"><button type="submit" class="button">View Users</button></a>
        </div>
    </DashboardActionBar>

    <ChildContent Context="product">
        <ProductView Product=@product />
    </ChildContent>
</HomeComponent>

