@page "/"

<div class="content">
	<h1 class="logo">BookShop.ADMIN</h1>
	<LoginComponent LoginMode=@(Business.BAL.LoginMode.Admin) AuthentificationEnabled=false />
	<h1 class="logo" style="opacity: 0;">BookShop.NET</h1>
</div>
