.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 0;
}

.logo {
	color: #061006;
	font-family: Inter;
	font-size: 40px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.login-area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 465px;
	border-radius: 30px;
	background: #FBFCFB;
	padding: 20px 0 20px 0;
	margin: 35px 0 120px 0;
}

	.login-area h2 {
		color: #061006;
		font-family: Inter;
		font-size: 30px;
		font-weight: 500;
		/*margin-bottom: 65px;*/
	}

	.login-area span {
		color: #7F8D80;
		text-align: center;
		font-family: Inter;
		font-size: 20px;
		font-weight: 600;
	}

	.login-area a {
		color: #407E52;
		font-family: Inter;
		font-size: 20px;
		font-weight: 600;
		text-decoration: none;
	}

::deep .login-area form {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	/*	gap: 20px;*/
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	margin-top: 20px;
}

.login-btn {
	width: 348px;
	height: 45px;
	border-radius: 20px;
	background: #6ED976;
	color: #FBFCFB;
	font-family: Inter;
	font-size: 20px;
	font-weight: 700;
	border: none;
}

.validation {
	padding: 5px 0 5px 0;
}

::deep .validation li, p {
	color: #FF4550;
}

::deep .success {
	color: #249689;
}

::deep .login-input {
	width: 419px;
	height: 45px;
	padding-left: 40px;
	border-radius: 10px;
	border: 3px solid #93C6A3;
	color: #7F8D80;
	font-family: Inter;
	font-size: 15px;
	font-weight: 600;
}

	::deep .login-input.parola {
		background-image: url('/wwwroot/Images/password_icon.png');
		background-size: 20px 20px;
		background-repeat: no-repeat;
	}

::deep input:focus {
	outline-color: #407E52;
}

.login-action-area {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 20px;
}
