.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
}

.logo {
    color: #061006;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.register-area {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 465px;
    /*height: 100%;*/
    border-radius: 30px;
    background: #FBFCFB;
    margin: 35px 0 100px 0;
}

    .register-area h2 {
        color: #061006;
        font-family: Inter;
        font-size: 24px;
        font-weight: 500;
        margin: 25px 0 0 0;
    }

@media (max-width: 768px) {
    .logo {
        font-size: 35px;
    }

    .register-area h2 {
        font-size: 22px;
        margin: 0;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 32px;
    }

    .register-area {
        width: 80%;
        padding: 10px 10px;
        margin: 20px 0 60px 0;
    }

        .register-area h2 {
            font-size: 20px;
            margin-top: 10px;
        }
}
