.content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	padding: 25px 80px 0 30px;
}

/*main{
    display: flex;
    flex-direction: column;
}*/

.title {
	align-content: center;
	width: 100%;
	padding: 15px 0 15px 30px;
	border-radius: 20px;
	background: #FBFCFB;
	margin-bottom: 30px;
}

	.title h2 {
		margin-bottom: 0;
		color: #061006;
		font-family: Inter;
		font-size: 24px;
		font-weight: 600;
	}

.view-users{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	grid-row-gap: 30px;
	grid-column-gap: 20px;
}

@media (max-width: 720px) {
	.view-users {
		grid-row-gap: 15px;
		grid-column-gap: 10px;
	}
	.title {
		padding: 10px 0 10px 20px;
		margin-bottom: 20px;
	}
		.title h2 {
			font-size: 20px;
		}
}