@page "/users"
@using Persistence.DTO.User

<PageTitle>Users</PageTitle>

<NavMenu />

<div class="content">
	<main>
		<div class="title">
			<h2>Registered users:</h2>
		</div>

		<div class="view-users">
			@if (@Users.Any())
			{
				@foreach (var user in @Users)
				{
					<UserView User="@user" />
				}
			}
			else
			{
				@for(var i = 0; i < 5; ++i)
				{
					<UserViewDummy/>
				}
			}
		</div>

	</main>
</div>