@page "/users"
@using Persistence.DTO.User

<PageTitle>Users</PageTitle>

<NavMenu />

<div class="content">
	<main>
		<div class="title">
			<h2>Lista cu utilizatori, puteti sa ii editati dupa cum doriti...</h2>
		</div>

		<div class="view-users">
			@foreach (var user in users)
			{
				<UserView User="@user" />
			}
		</div>

	</main>
</div>

@code {
	private List<UserInfoDto> users = new List<UserInfoDto>
	{
		new UserInfoDto{ Username = "valdpop", FirstName= "Vlad", LastName="Popescu", Email = "valdpopy@gmail.com", Password="da", UserType=null },
		new UserInfoDto{ Username = "valdpop", FirstName= "Vlad", LastName="Popescu", Email = "valdpopy@gmail.com", Password="da", UserType=null },
		new UserInfoDto{ Username = "valdpop", FirstName= "Vlad", LastName="Popescu", Email = "valdpopy@gmail.com", Password="da", UserType=null },
		new UserInfoDto{ Username = "valdpop", FirstName= "Vlad", LastName="Popescu", Email = "valdpopy@gmail.com", Password="da", UserType=null },
		new UserInfoDto{ Username = "valdpop", FirstName= "Vlad", LastName="Popescu", Email = "valdpopy@gmail.com", Password="da", UserType=null },
		new UserInfoDto{ Username = "valdpop", FirstName= "Vlad", LastName="Popescu", Email = "valdpopy@gmail.com", Password="da", UserType=null }
	};

}